<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Twitter Trends</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h1>Twitter Trends</h1>
    <button id="run-script">Click here to run the script</button>
    <div id="results"></div>
    

    <script>
        $('#loading').hide()
        $('#run-script').click(function () {
            $('#run-script').html("scrapping data")
            $('#run-script').prop("disabled", true)
            $.get('/run-script', function (data) {
                var resultTopic = data.at(-1)
                var resultHtml = `
                    <p>These are the most happening topics as on ${new Date(resultTopic.datetime).toLocaleString()}:</p>
                    <ul>
                        <li>${resultTopic.trend1}</li>
                        <li>${resultTopic.trend2}</li>
                        <li>${resultTopic.trend3}</li>
                        <li>${resultTopic.trend4}</li>
                        <li>${resultTopic.trend5}</li>
                    </ul>
                    <p>The IP address used for this query was ${resultTopic.ip_address}.</p>
                    <p>Here's a JSON extract of this record from the MongoDB:</p>
                    <pre>${JSON.stringify(data, null, 2)}</pre>
                `;
                $('#run-script').prop("disabled", false)
                $('#run-script').html("Click here to run the script")
                $('#results').html(resultHtml);
            });
        });
    </script>
</body>

</html>